img {
    height: 200px;
    width: 200px;
  }

#red {
    color:red;
    font-weight: normal;
}

#blue {
    color:rgb(93, 0, 255);
    font-weight: normal;
}

#orange {
    color:rgb(255, 149, 0);
    font-weight: normal;
}

#green {
    color:rgb(26, 255, 0);
    font-weight: normal;
}

#yellow {
    color:rgb(246, 255, 0);
    font-weight: normal;
}